.pad{
    padding: 0px! important;
    /* margin: 0px !important */
}
.navbar{
    background: darkgrey;
    border: none;
}

.brand1{
    color: black;
}
.toggle1{
    margin-top: 7px;
}
.cen{
    background-color: #f1f1f1;
    padding-top:10px
}